	<div id="{{ module.custom_id }}" class="atmc-testimonial-01 {% if module.layout == 'grid' %}atmc-grid atmc-grid-{{ module.items_per_row }}col{% else %}atmc-slider{% endif %} {% if !module.enable_style_tab %}text-{{ module.alignment }}{% endif %} {% if !module.enable_style_tab and module.text_white %}text-white{% endif %} {% if module.layout == 'slider' %}{% if module.enable_animation %}sr-invisible {{ module.animation }}{% endif %}{% endif %} {% if module.enable_style_tab and module.styles.shadow.shadow %}shadow-md{% endif %} {{ module.custom_class }}" 
		{% if module.layout == 'slider' %}
			data-slider-item="{{ module.items_per_row }}" 
			data-slider-arrows="{% if module.slider_settings.arrows %}true{% else %}false{% endif %}"
			data-slider-dots="{% if module.slider_settings.dots %}true{% else %}false{% endif %}"
			data-slider-autoplay="{% if module.slider_settings.autoplay %}true{% else %}false{% endif %}"
			data-slider-autoplayspeed="{{ module.slider_settings.autoplay_speed }}"
			data-slider-infinite="{% if module.slider_settings.infinite %}true{% else %}false{% endif %}"
			{% if module.items_per_row == 1 %}data-slider-fade="{% if module.slider_settings.fade %}true{% else %}false{% endif %}"{% endif %}
		{% endif %}
		>
		{% for item in module.testimonial_repeater %}
			<div class="atmc-testimonial-01_single atmc-grid-col {{ name }}_{{ loop.index }} {% if module.layout != 'slider' %}{% if module.enable_animation %}sr-invisible {{ module.animation }}{% endif %}{% endif %}">
				<p class="atmc-testimonial-01_text atmc-h3 mb-4">"{{ item.quote }}"</p>
				{% if item.author || item.company %}
				<p class="atmc-testimonial-01_name">
						{% if item.author %}<strong>{{ item.author }}</strong>{% endif %}
						{% if item.company %}<br><span class="atmc-testimonial-01_detail atmc-cap">{{ item.company }}</span>{% endif %}
					</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>

{% if module.enable_style_tab %}
	{% require_css %}
	<style>
		{% scope_css %}
			.atmc-testimonial-01 {
				{% if module.styles.background.background_option == 'solid' %}
				background-color: {{ module.styles.background.bg_color.color }};
				{% elif module.styles.background.background_option == 'image' %}
				{{ module.styles.background.bg_image.css }}
				{% endif %}
				{% if module.styles.border.enable_border %}{{ module.styles.border.border.css }}{% endif %}
				{{ module.styles.spacing.spacing.css }}
				{{ module.styles.typography.text_alignment.css }}
			}
			{% if module.styles.typography.customize_text_color %}
			.atmc-testimonial-01 *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
				color: {{ module.styles.typography.text_color.color }};
				opacity: {{ module.styles.typography.text_color.opacity /100 }};
			}
			{% endif %}
		{% end_scope_css %}
	</style>
	{% end_require_css %} 
{% endif %}
