/* ======
 * List 01
 * ============ */
.atmc-list-01 ul  {
	padding-left: 0;
}
.atmc-list-01 ul li {
	position: relative;
  padding-left: 1rem;
	list-style: none;
	margin-bottom: 1rem;
}
.atmc-list-01 ul li:last-child {
	margin-bottom: 0;
}
.atmc-list-01 ul li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.7rem;
	width: 7px;
	height: 7px;
	background-color: var(--primary);
	border-radius: 100%;
}
